<section class="page-not-found flex-column">
  <mat-card class="page-not-found__card">
    <mat-card-header>
      <h2 class="page-not-found__title">Error 404</h2>
    </mat-card-header>
    <mat-card-content>
      <p class="page-not-found__content">Page not found</p>
    </mat-card-content>
    <a class="page-not-found__link flex" [routerLink]="['/home']">
      <mat-icon class="icon" matPrefix aria-hidden="false" fontIcon="arrow_back"></mat-icon>
      Back to homepage
    </a>
  </mat-card>

</section>
