@import "variables";
@import "material-theme";


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $bg-color-primary;
}

// scrollbar
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $shadow-color-primary;
}

::-webkit-scrollbar-thumb {
  background: rgba($bg-color-scrollbar, 0.6);

  &:hover {
    background: rgba($bg-color-scrollbar, 0.8);
  }
}

::-webkit-scrollbar-button {
  display: none;
}


// GENERAL STYLES
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 1;
  color: $text-color-secondary;
}
