// text
$text-color-primary: #000000;
$text-color-secondary: #005cbb;
$link-color-primary: #788da0;

// background
$bg-color-primary: #d7e3ff;
$bg-color-secondary: #19326d;
$bg-color-scrollbar: #005cbb;

// shadow
$shadow-color-primary: #9cc5f4;


